/*======================================
=            DESKTOP STYLES            =
======================================*/


.mobile-only {
    display: none;
}

.nav {
    top: -55px;
}

.section__slider-container {
    position: relative;
    margin: 0 auto 48px;
}


/*-----  End of DESKTOP STYLES  ------*/

