/*======================================
=            DESKTOP STYLES            =
======================================*/


.mobile-only {
    display: none;
}

.container {
  max-width: calc(100% - 55px);
}

.nav {
    top: -55px;
}

.section__slider-container {
    position: relative;
    margin: 0 auto 48px;
}


/*-----  End of DESKTOP STYLES  ------*/

