/*============================
=            FORM            =
============================*/

.form__input {
  position: relative;
  margin-bottom: 24px;
}

.form__submit {
  font-family: 'Open Sans', sans-serif;
  background: white;
  border: 0;
  padding: 12px;
  font-size: 16px;

  & > div {
    display: none;
  }

  &:not([data-state]) > .form__submit__default {
    display: block;
  }

  &[data-state='loading'] > .form__submit__loading {
    display: block;
  }

  &[data-state='success'] > .form__submit__success {
    display: block;
  }

  &[data-state='error'] > .form__submit__error {
    display: block;
  }

  &[data-state='fail'] > .form__submit__fail {
    display: block;
  }


}