/*=============================
=            FONTS            =
=============================*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,700|Open+Sans:300);


/*==============================
=            COLORS            =
==============================*/

$color-highlight: #16a085;
$color-background: #f8f8f8;
$color-border: #efefef;
$color-text: #333;

$min-width: 640px;
$nav-width-desktop: 50px;
$nav-width-mobile: 40px;


/*===============================
=            GENERAL            =
===============================*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
  color: $color-text;
  background: $color-background;
}

h1, h2, h3, h4 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 12px;
}

h1 {
  font-size: 36px;
  line-height: 1;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  color: white;

}

h2 {
  font-size: 36px;
  line-height: 48px;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

h4 {
  font-size: 12px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: $color-highlight;
}

em {
  font-style: italic;
}

ol {
  margin: 20px 10px;
}

ol li {
  padding-left: 12px;
  margin-bottom: 12px;
}

ol li:before {
  content: "• ";
  color: #dd7022; /* or whatever color you prefer */
}

p {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 24px;
}

blockquote {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  margin-bottom: 24px;

  @media screen and (min-width: $min-width) {
    padding: 24px 24px;
  }


  &:before,
  &:after {
    font-family: "Roboto Slab", serif;
    color: $color-border;
    position: absolute;
    font-size: 36px;
    font-weight: 700;
  }

  &:before {
    content:"\201C";
    top: -12px;
    left: -12px;

    @media screen and (min-width: $min-width) {
      top: 12px;
      left: 12px;
    }


  }



  > blockquote {
    margin-bottom: 0;

    &:before{
      content: '';
    }

    &:after {
      content:"\201D";
      top: -36px;
      right: -12px;
    }

    padding: 0;
  }
}

hr {
  border: 0;
  border-top: 1px rgba(0, 0, 0, 0.05) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.05) solid;
  height: 1px;
  margin: 30px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $color-border inset;
}

input[type='text'], textarea {
  -webkit-appearance: none;
  background-color: $color-border;
  border: 1px #ccc solid;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  display: inline-block;
  padding: 12px;
  vertical-align: middle;
  max-width: 320px;

  &:focus {
    outline: 0;
  }
}

input[type='submit'] {
  -webkit-appearance: none;
}

textarea {
  max-width: 100%;
  height: auto;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

.container {

  @media screen and (min-width: $min-width) {
    margin-right: $nav-width-desktop;
  }
}

.is-loading {
  display: none;
}
