/*================================
=            SECTIONS            =
================================*/

.section {
  padding: 120px 24px;
  border-bottom: 1px $color-border solid;
  position: relative;
}

.section--contact {
  background: $color-border;
}

.section--top:after {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/home.jpg);
  background-size: cover;
  background-position: center;
}

.section__subject {
  margin-bottom: 24px;
}

.section__tags {
  line-height: 24px;
  position: absolute;
  left: 5px;
  right: 5px;
  top: 6px;
  text-align: center;
  font-size: 10px;
  font-family: Arial;
  margin-bottom: 12px;
  color: #ccc;
}

.section__tag {
  border: $color-border 1px solid;
  padding: 2px 5px;
  text-transform: uppercase;
}

.section__container {
  margin: 0 auto;
  max-width: 720px;
}

.section__content {
  padding-top: 24px;
}

.section__markdown {
  ul {
    margin-bottom: 24px;
  }
  li {
    padding-left: 24px;
    position: relative;

    &:before {
      content: "✖";
      position: absolute;
      left: 0px;
      font-size: 12px;
      margin-right: 6px;
    }
    li:before {
      content: "-";
    }
  }
}

.section__company {
  font-size: 14px;
  font-style: italic;
}

