/*=============================
=            SLIDER           =
=============================*/

.section__slider-container {
  position: relative;
  margin: 0 -24px 48px;
}

.section__slider {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;

  li {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    cursor: pointer;

    &:first-child {
      position: relative;
      display: block;
      float: left;
    }
  }
  img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 100%;
    border: 0;
  }
}

.section__slider__nav {
  width: 50%;
  bottom: 36px;
  position: absolute;
  text-align: center;
  display: block;
  top: 0px;
  left: 0px;
  z-index: 6;
  overflow: hidden;
  text-indent: -999px;

  &.next {
    margin-left: 50%;
  }
}

.section__slider__tabs {
  margin: 0px auto;
  display: table;
  width: 100%;

  li {
    display: table-cell;

    &.section__slider__here a {
      background: $color-highlight;
    }
  }

  a {
    text-indent: -999px;
    overflow: hidden;
    display: block;
    background: $color-border;
    width: 100%;
    height: 2px;
  }

}