doctype html
html(lang="en", xml:lang="en", xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(charset="utf-8")
    meta(content="ie=edge", http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", name="viewport")
    title The Portfolio of Grace Tuttle
    meta(content="Grace is a designer working in Brooklyn, New York on urban, humanitarian, and education sections. Her practice is participatory, inviting partners--experts, children, community members, policy makers, administrators, and educators--into the design process as collaborators. She has a BA in Anthropology from Bard College and an MFA from the Transdisciplinary Design program at Parsons The New School for Design.", name="description")
    base(target="_blank")

    link(type="text/css", media="screen", rel="stylesheet", href="stylesheets/main.css")

    script(src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js")


  body.is-loading
    nav.nav
      .top.nav__button
        a.nav__link(href="#top")
          .nav__symbol
            i.fa.fa-home
      .prev.nav__button.mobile-only
        a.nav__link(href="#prev")
          .nav__symbol
            i.fa.fa-chevron-up
      .next.nav__button.mobile-only
        a.nav__link(href="#next")
          .nav__symbol
            i.fa.fa-chevron-down
      .contact.nav__button
        a.nav__link(href="#contact")
          .nav__symbol
            i.fa.fa-envelope

    .container
      .section.section--top#top
        .badge
          h1 GRACE VETROCQ TUTTLE
          h4 designer.researcher.strategist

      .section.section--contact#contact
        .section__container
          .section__subject
            h2 Contact Me!
          form.form(method="post", name="contactform")
            fieldset
              .form__input
                label Your Name
                input#name(type="text", name="name", required="")
              .form__input
                label Your Email
                input#email(type="text", name="email", required="")
              .form__input
                label Your Comment
                textarea#text(name="text", rows="6")
            button.form__submit
              .form__submit__default Send Message
              .form__submit__loading Loading...
              .form__submit__success Message sent!
              .form__submit__error Please check your email address.
              .form__submit__fail Message failed to send.
    .more

    script(src="scripts/app.js")

    script#home-template(type="text/x-handlebars-template")
      #about.section.section--about
        .section__container
          .section__subject
            h2 About
          .section__markdown {{#if Content}}{{paragraphSplit Content}}{{/if}}
          p
            a(href="{{CV}}", target="_blank") Download My CV &#187;

    script#entry-template(type="text/x-handlebars-template")
      .section(id="{{SLUG}}", class="section--{{SLUG}}")
        .section__container
          .section__tags {{#if TAGS}}{{commalist TAGS}}{{/if}}
          .section__subject
            h2 {{TITLE}}
            .company {{#if COMPANY}} w/ {{COMPANY}}{{/if}}
          .section__slider-container
            ul.section__slider {{#if IMAGES}}{{imagelist IMAGES}}{{/if}}

          .section__markdown {{#if CONTENT}}{{paragraphSplit CONTENT}}{{/if}}

    script#button-template(type="text/x-handlebars-template")
      .nav__button.desktop-only(data-for="{{SLUG}}", class="nav__button--{{SLUG}}")
        a.nav__link(href="#{{SLUG}}")
          .nav__symbol
            i.fa.fa-chevron-down
        .nav__info {{SLUG}}

